<p>&copy; 2005-<%= Time.now.strftime('%Y') %>, RubyURL.</p> 
<p>A micro project from the <a href="http://www.planetargon.com/" title="Design, Development, and Hosting with Ruby on Rails">Planet Argon</a> team. Hosted on <a href="/rails/info/properties" target="_blank">Google App Engine</a>.</p>
<p><a href="http://github.com/robbyrussell/rubyurl/issues">Feature Requests / Issues?</a></p>